.txt{
  margin: 0px 20px;
}
#main{
  height: 600px;
  overflow: auto;
}

/*第一个区域*/
#mmm{
  width: 300px;
  height: 500px;
  background-color: rgb(183, 0, 0, 0.2);
  margin: 100px 10px 0px 30px;
  float: left;
}
#mmm img{
  width: 260px;
  height: 260px;
  margin: 20px;
}
/*第二个区域*/
#aaa{
  width: 300px;
  height: 500px;
  background-color: rgb(0, 91, 17, 0.2);
  margin: 100px 10px 0px 10px;
  float: left;
}
#aaa img{
  width: 260px;
  height: 260px;
  margin: 20px;
}
/*第三个区域*/
#ddd{
  width: 300px;
  height: 500px;
  background-color: rgb(248, 220, 11, 0.2);
  margin: 100px 10px 0px 10px;
  float: left;
}
#ddd img{
  width: 260px;
  height: 260px;
  margin: 20px;
}
/*第四个区域：表头字间距为5px，单元格行高为2倍*/
#eee{
  width: 900px;
  height: 550px;
  margin: 50px 0px 0 210px;
  padding: 20px;
  background-color: rgba(0, 153, 255, 0.2);
}
#eee h3{
  letter-spacing: 5px;
}
#eee td{
  line-height: 200%;
}
